.control {
  display: flex;
  align-items: center;
  justify-content: center;

  .control-item {
    padding: 0 10px;
  }

  button {
    align-items: center;
    background-color: #30353f;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #8d99ae;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    user-select: none;

    svg {
      margin-right: 3px;
    }
  }

  button:hover,
  button:focus {
    background-color: #363e50;
  }
}
